*{
    font-family: Consolas, monaco, monospace;
}

h1, h2, h3, h4{
    font-family: 'Merriweather', serif;
}

body{
    background-image: url("assets/topography.png");
    background-repeat: repeat;
    background-position: center;
    margin: 0px;
}

header{
    display: flex;
    background-color: #333333;
    height: 52px;
    width: screen;
    align-items: center;
}

header, section{
    padding: 0em 10%;
}

#logo{
    margin: 10px 10px 10px 0px;
}

nav{
    display: flex;
    position: absolute;
    right: 0;
    padding: 0em 10%;
}

.navbar{
    text-transform: uppercase;
}

li{
    display: inline-block;
    text-align: right;
    padding: 20px 0px 20px 40px;
}

a{
    color: #ff0099;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 14px;
    font-weight: 400;
}

hr{
    border-top: 2px dashed black;
    width:20px;
    height: 0px;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h1{
    font-size: 44px;
    font-weight: 900;
    padding: 2rem 0px 1rem 0px;
    margin-top: 100px;
}

h2{
    font-size: 28px;
    font-weight: 700;
    color: #ff0099;
}

h3{
    text-align: center;
    font-size: 32px;
    padding-bottom: 1rem;
    font-weight: 900;
}

h4{
    font-size: 26px;
    font-weight: 900;
    margin: 1rem 0px 1rem 0px;
}

p{
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 1rem;
    line-height: 1.7em;
}

.introduction{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5em;
}