body{
    font-family: 'Merriweather', serif;
    background-image: url("../assets/topography.png");
    background-repeat: repeat;
    background-position: center;
    margin: 0px;
}

header{
    display: flex;
    background-color: rgb(33, 34, 33);
    height:52px;
    width: screen;
    align-items: center;
}

header, section{
    padding: 0em 15%;
}

#logo{
    margin: 10px 10px 10px 0px;
}

nav{
    display: flex;
}

.navbar{
    text-transform: uppercase;
   /* align-content: flex-end; */
}

/*ul{
    align-content: flex-end;
    position: relative;
    text-align: right;
    z-index: 10;
    vertical-align: top;
} */

li{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    align-content: flex-end;
    padding: 10px;
    position: relative;
}

a{
    color: deeppink;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 700;
}

hr{
    border-top: 2px dashed black;
    width:20px;
    display: flex;
    align-items: center;
    padding: 1rem 0px 1rem 0px;
}

/* div.separator{
    
    display: flex;
    align-items: center;
} */

h1{
    font-size: 30px;
    font-weight: 700;
    padding: 2rem 0px 1rem 0px;
}

h2{
    font-size: 22px;
    font-weight: 600;
    color: deeppink;
    padding-bottom: 1rem;
}

h3{
    text-align: center;
    font-size: 26px;
    padding-bottom: 1rem;
}

h4{
    font-size: 22px;
    font-weight: 600;
    margin: 1rem 0px 1rem 0px;
}

p{
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 1rem;
    line-height: 1.5em;
}

.introduction{
    font-size: 16px;
    line-height: 2em;
}